
<div class="card outer">
  <div class="card inner">
    <p><%= params["question"]%> </p>
    <p>- You </p>
  </div>
</div>

<br>

<div class="card outer">
  <div class="card inner" id="teacher">
    <p><%= @answer %></p>
    <p>- Your Coach</p>
  </div>
</div>
