<form action="answer" method='get'>
  <label for="question">Question:</label>
  <input type="text" name='question' placeholder="Your question to the teacher">
  <input type="submit" value='Ask!'>
</form>
